name: Sync Fork With Upstream

on:
  schedule:
    - cron: "*/5 * * * *"   # 每 5 分钟
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/AliceLinks/LuoFuShanWeChatAppBackend.git
          git fetch upstream

      - name: Merge upstream
        run: |
          git merge upstream/master --allow-unrelated-histories || true

      - name: Push changes
        run: |
          git push origin HEAD:master
