name: Sync Fork With Upstream

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Git identity
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/AliceLinks/LuoFuShanWeChatAppBackend.git
          git fetch upstream

      - name: Merge upstream
        run: |
          git merge upstream/master --allow-unrelated-histories || true

      - name: Use PAT instead of GITHUB_TOKEN
        run: |
          git remote set-url origin https://Picarran:${{ secrets.PAT_FOR_SYNC }}@github.com/Picarran/LuoFuShanWeChatAppBackend.git

      - name: Push changes
        run: |
          git push origin HEAD:master
